*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #f1f1f1;
	font-family: 'Droid Sans', sans-serif;
}

::selection {
	background: #1fb5ad; 
	color: white;
	}
::-moz-selection {
	background: #1fb5ad; 
	color: white;
}

/*SIDE MENU*/

#showSideMenu{
background: white url("../img/sideMenu.png") no-repeat center center;
border: none;
height: 17px;
width: 24px;
padding: 25px;
border-right: 1px solid #ccc;
cursor: pointer;
}

.sideMenu{
	background-color:#32323a;
	position: fixed;
	width: 200px;
	height: 100%;
	top: 0;	
	left: -200px;
	z-index: 1000;
}

.sideMenu.sideMenu-open {
	left: 0px;
}

.sideMenu-body {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.sideMenu-body-toright {
	left: 200px;
}

.sideMenu,
.sideMenu-body {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#sideNav{
	list-style-type: none;
	margin-top: 50px;
}

#sideNav a{
	position: relative;
	text-decoration: none;
	color: white;
	display: block;
	padding: 12px 0 12px 20px;
}

#sideNav .navSelected{
background-color: #1fb5ad;
color: white;
}

.sideNavItem{
border-bottom: 1px solid #95a0aa;
}

.sideNavItem:hover{
background-color: #1fb5ad;
}


/* MAIN SECTION */
#topBar{
height: 50px;
background-color: white;
border-bottom: 1px solid #ccc;
}

main{
	color: black;
	padding: 30px 0 0 50px;
}

i.iLeft{
	margin-right: 10px;
}

i.iRight{
	margin-left: 5px;
}

i.iTable{
	margin-right: 20px;
}

h1{
	font-size: 36px;
	font-weight: normal;
	color: #444;
}

h2, h3{
	text-align: center;
	font-weight: normal;
	color: white;
}

h2{
font-size: 24px;
}

h3{
font-size: 16px;
}

p {
font-size: 14px;
}

img{
	margin: 51px 0 0 50px;
}

label{
font-size: 14px;
margin-right: 5px;
color: #66666d;
display: inline-block;
width: 80px;
}

input[type=text], input[type=password]{
	margin-bottom : 15px;
	border: 1px solid #cecedc;
	background: none;
	font-size: 14px;
	padding: 3px 3px 3px 5px;
	border-radius: 2px;
	color: #66666d;
}

button.submit, button.login{
	border: none;
	background: #1abc9c;
	border-bottom: 3px solid #16a085;
	color: white;
	height: 30px;
	width: 65px;
	cursor: pointer;
	margin-left: 20px;
}

button.submit:active, button.logic:active{
border: none; 	
position: relative;
top: 3px;
}

button.login{
position: relative;
margin-top: 10px;
left: 70px;
width: 70px;
padding-left: 4px;
margin-bottom: 10px;
}

article {
margin-top: 10px;
padding: 20px 20px 5px 20px;
background-color: white;
}

article#login{
	margin: 0 auto;
	width: 250px;
}


table{
border-spacing: 0px;
border-collapse: collapse;
margin-bottom: 10px;
}

td, th{
	border: 1px solid #cecedc;
	margin: 0px;
	padding: 5px 10px;
}

th{
color: #444;
}

td{
color: #66666d;
}

th.header { 
    background-image: url(../img/tableUnsorted.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

th.headerSortUp { 
    background-image: url(../img/asc.gif); 
} 

th.headerSortDown { 
    background-image: url(../img/desc.gif); 
} 